{
  "routerUrl": "Your router url, by default it's http://192.168.1.1",
  "username": "your_router_username",
  "password": "your_router_password",
  "providerNumber": "telephone number of your provider",
  "smsText": "text you want to send",
  "frequency_minutes": 5,
  "speed_threshold_MBps": "speed threshold",
  "speed_test_url": "url of the service to download a test file to check the speed"
}
